* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* start text on company imaGe styles*/

@keyframes scale {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.header {
  width: 100%;
  height: 100vh;
  position: relative;
}
.upperimage {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.upperimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  animation: scale 3s;
}

/* end text on company imaGe styles*/

/* start: banner  */

@keyframes movebanner {
  0% {
    transform: translateY(40rem) rotateY(-20deg);
  }
  100% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
}

.banner {
  position: absolute;
  top: 20%;
  left: 10%;
  perspective: 100rem;
  overflow: hidden;
}

.banner h1 {
  font-family: "baloo Da 2";
  font-size: 5rem;
  font-weight: 300;
  color: white;
  width: 100%;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-shadow: 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: movebanner 0.7s 0.3s forwards;
}

.banner p {
  font-family: "Josefin Slab";
  font-size: 2.5rem;
  color: white;
  width: 100%;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
  text-shadow: 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: movebanner 0.7s 0.5s forwards;
}

.banner button {
  width: 15rem;
  height: 4rem;
  background-color: rgba(248, 184, 63, 0.748);
  border: none;
  font-family: "Muli", serif;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  opacity: 0;
  animation: movebanner 0.7s 0.7s forwards;
}

/* end: banner  */

/* start: HAMBURGERMENU  */

.hamburger-menu {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 4rem;
  right: 3rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.6s;
}

.change .hamburger-menu {
  right: 27rem;
}
.line {
  width: 100%;
  height: 0.2rem;
  background-color: white;
  box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.8);
}

.line {
  background-color: white(0, 0, 0, 0.8);
}

.hamburger-menu span {
  position: absolute;
  left: 4rem;
  width: 5rem;
  height: 2.8rem;
  background-color: #e2b646;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Baloo Da 2";
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.change .hamburger-menu:hover span {
  opacity: 1;
  visibility: visible;
}

.hamburger-menu span::before {
  content: "";
  position: absolute;
  border-left: 1rem solid transparent;
  border-right: 1rem solid #e2b646;
  border-bottom: 2rem solid transparent;
  border-top: 2rem solid transparent;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
}

.sidebar {
  width: 30rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -30rem;
  background-color: white;
  transition: right 0.5s;
  z-index: 100;
}

.change .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-link {
  text-align: center;
}

.menu-link {
  font-family: "baloo Da 2";
  font-size: 2.8rem;
  color: #555;
  position: relative;
}

.menu-link::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(248, 184, 63, 0.748);
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease-in-out;
}

.menu-link:hover::before {
  width: 100%;
}

.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-media i {
  font-size: 2.2rem;
  margin: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: darkgrey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.social-media i:hover {
  background-color: orange;
}

/* end: HAMBURGERMENU  */

/* start: ABOUT US  */

.about-us {
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 15;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 2.5rem 0;
}

.section-heading {
  font-family: "Muli", serif;
  font-size: 5rem;
  font-weight: 500;
  color: #4b4b4b;
  margin-bottom: 1rem;
}

.underline {
  width: 18rem;
  height: 0.3rem;
  background-color: #c28525;
}
.about-us-img-wrapper img {
  width: 30rem;
  height: 80%;
  object-fit: cover;
  opacity: 0.9;
  max-width: 100%;
  height: auto;
}
.about-us-img-wrapper {
  grid-column: 6/14;
  grid-row: 14/7;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.services {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(18, 2rem);
  grid-row-gap: 1em;
}
.service {
  width: 100%;
  margin-bottom: 2rem;
}

.service:nth-child(1) {
  grid-column: 13/16;
  grid-row: 5/16;
  max-width: 100%;
  height: auto;
}

.service:nth-child(2) {
  grid-column: 7/16;
  grid-row: 14/16;
  max-width: 100%;
  height: auto;
}
.service:nth-child(3) {
  grid-column: 3/16;
  grid-row: 5/16;
  max-width: 100%;
  height: auto;
}
.service:nth-child(4) {
  grid-column: 7/16;
  grid-row: 1/7;
  max-width: 100%;
  height: auto;
}

.servie-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.service-header i {
  font-size: 3rem;
  color: #4b4b4b;
}

.service-header h3 {
  font-family: "Baloo Da 2";
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  margin-bottom: 0.1rem;
}

.service-text {
  font-family: "Josefin Slab";
  font-size: 1.2rem;
  text-align: justify;
}

/* end: ABOUTUS  */

/* start: Our-Events  */
.current-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem 10rem 5rem;
}

.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
  width: 85%;
}

.card {
  width: 22rem;
  height: 30rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  position: relative;
}

.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 0.5rem;
}

.card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  border-radius: 0.5rem;
  transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
  opacity: 0.5;
}

.card-info {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
}

.card:hover .card-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

.card-info h2 {
  font-family: "Baloo Da 2", serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 300;
  color: #eeeeee;
}

.card-info h3 {
  font-family: "muli", serif;
  font-size: 2rem;
  font-weight: 500;
  color: rgba(249, 204, 253, 0.748);
  margin-bottom: 1rem;
}

.card-info p {
  font-family: "Baloo da 2", serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 3001;
  color: #eeeeee;
  width: 80%;
  margin-bottom: 2rem;
}

.card-info button {
  width: 10rem;
  height: 3rem;
  background-color: rgba(248, 184, 63, 0.748);
  border: none;
  font-family: "Baloo Da 2", serif;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #eeeeee;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}

/* end: Our-Events  */

/*start: wine and roses */

.wineandroses {
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 15;
}

.grid-textandphotos {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2);
  grid-template-rows: repeat(2);
  position: relative;
}

.image-wrapper-wine {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
}

.image-wrapper-wine img {
  width: 50rem;
  height: 30rem;
  padding-left: 15rem;
}

.image-wrapper-rose {
  grid-row: 2/2;
  grid-column: 2/2;
  width: 100%;
}

.image-wrapper-rose img {
  width: 50rem;
  height: 30rem;
  padding-right: 15rem;
}

.textplacment:nth-child(1) {
  grid-row: 1/2;
  grid-column: 2/2;
}
.textplacment:nth-child(2) {
  grid-row: 2/2;
  grid-column: 1/2;
  padding-left: 15rem;
}
.text .text-header i {
  font-size: 1.2rem;
  color: #4b4b4b;
  top: 80%;
  right: 70%;
}
.text-header h3 {
  font-family: "Baloo Da 2";
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  margin-bottom: 0.1rem;
}

.textplacment-text {
  font-family: "Josefin Slab";
  font-size: 1.2rem;
  text-align: justify;
}

.text-position {
  align-items: right;
}

/*end wine and roses */

/*start contact section */

.contact {
  width: 100%;
  height: 100vh;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-wrapper {
  width: 50%;
  height: 40rem;
  display: flex;
  box-shadow: 0 3rem 7rem rgb(0, 0, 0, 0.5);
}

.contact-left {
  width: 35%;
  background: linear-gradient(rgba(1, 1, 1, 0.1), rgba(22, 22, 22, 0.9)),
    url(images/8.PNG) center no-repeat;
  background-size: cover;
}

.contact-right {
  width: 65%;
  background-color: #eee;
  padding: 3rem 10rem 10rem 10rem;
}

.contact-heading {
  font-family: "Baloo Da 2", serif;
  font-size: 4rem;
  font-weight: 300;
  color: #272727;
  margin-bottom: 0.1rem;
  text-align: center;
}

.contact-right form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  position: relative;
}
.field {
  width: 25rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.2rem dashed #636363;

  margin: 0.6rem 0;
  padding: 5rem 2rem 1rem 0;
  font-family: "Muli", serif;
  font-size: 1.6rem;
  color: #4b4b4b;
}

.input-group input {
  height: 2rem;
}

.input-group textarea {
  max-height: 7rem;
  max-width: 25rem;
}

.field:focus {
  border-bottom-style: solid;
}

.input-group label {
  position: absolute;
  left: 0;
  font-family: "Baloo Da 2", serif;
  font-size: 1.8rem;
  color: #4b4b4b;
  text-transform: uppercase;
  pointer-events: none;
  padding-top: 1rem;
  transition: all 0.3s;
}

.input-label {
  top: 3rem;
}
.message {
  top: 1.5rem;
}

.field:focus ~ label {
  transform: translateY(-1rem);
  font-size: 1.2rem;
}

.submit-btn {
  width: 20rem;
  height: 2rem;
  background-color: #c29525;
  color: #fff;
  border: none;
  margin-top: 1rem;
  font-family: "Muli", serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

/*end contact section */

/*start footer*/
.footer {
  width: 100%;
  height: 10rem;
  background-color: #17181b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-family: "Baloo Da 2", serif;
  font-size: 1rem;
  color: #a7a6a6;
}

.social-list a {
  margin: 0 2rem;
}

.social-list i {
  font-size: 2rem;
  color: #a7a7a7;
}

.scroll-btn {
  position: fixed;
  right: 2.5rem;
  bottom: 3rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #e2b646;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

/* end footer section */
